version: "3.5"
services:
  sequencer:
    build:
      context: sequencer
      args:
        UPSTREAM_VERSION: v2.1.4
        DATA_DIRECTORY: /data
    volumes:
      - sequencer-data:/data
      - keystore-data:/keystore
    environment:
      KEY_STORE_DIRECTORY: /keystore
      DATA_DIRECTORY: /data
      COINBASE: ""
      VALIDATOR_PRIVATE_KEYS: ""
      LOG_LEVEL: info
    restart: unless-stopped
volumes:
  sequencer-data: {}
  keystore-data: {}
