version: "3.5"
services:
  sequencer:
    build:
      context: sequencer
      args:
        UPSTREAM_VERSION: v2.0.4
        DATA_DIRECTORY: /data
    volumes:
      - sequencer-data:/data
    environment:
      COINBASE: ""
      VALIDATOR_PRIVATE_KEYS: ""
      GOVERNANCE_PROPOSER_PAYLOAD_ADDRESS: ""
      BLOB_SINK_URL: ""
      LOG_LEVEL: info
    restart: unless-stopped
volumes:
  sequencer-data: {}
