version: "3.5"
services:
  sequencer:
    build:
      context: sequencer
      args:
        UPSTREAM_VERSION: v2.1.9
        DATA_DIRECTORY: /data
    volumes:
      - sequencer-data:/data
      - keystore-data:/keystore
    environment:
      KEY_STORE_DIRECTORY: /keystore
      DATA_DIRECTORY: /data
      GOVERNANCE_PROPOSER_PAYLOAD_ADDRESS: ""
      P2P_MAX_PEERS: ""
      L1_GAS_PRICE_MAX: ""
      L1_BLOB_FEE_PER_GAS_MAX: ""
      L1_PRIORITY_FEE_BUMP_PERCENTAGE: ""
      L1_FIXED_PRIORITY_FEE_PER_GAS: ""
      LOG_LEVEL: info
    restart: unless-stopped
volumes:
  sequencer-data: {}
  keystore-data: {}
