version: "3.5"
services:
  sequencer:
    build:
      args:
        NETWORK: "testnet"
    environment:
      ETHEREUM_HOSTS: http://geth.sepolia-geth.dappnode:8545
      L1_CONSENSUS_HOST_URLS: http://prysm-sepolia.dappnode:3500
      P2P_PORT: 40401
    ports:
      - 40401:40401/tcp
      - 40401:40401/udp
