version: "3.5"
services:
  sequencer:
    build:
      args:
        NETWORK: "testnet"
    environment:
      ETHEREUM_HOSTS: http://execution.sepolia.dncore.dappnode:8545
      L1_CONSENSUS_HOST_URLS: http://beacon-chain.sepolia.dncore.dappnode:3500
      P2P_PORT: 40401
    ports:
      - 40401:40401/tcp
      - 40401:40401/udp
